.full_width {
  width: 100%;
  height: auto;
}
.bg {
  background: url("../../img/feather.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  color: rgb(245, 243, 243);
}
.flex-wrap {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 75%;
  gap: 30px;
}
.bg h4 {
  font-size: 1.5em;
}
.bg h3 {
  font-size: 2.2em;
}
.bg h2 {
  font-size: 2.5em;
}
.flex-wrap > div {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
}
.flex-wrap > div img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.3);
}
.align-center a {
  font-weight: bold;
}
.title {
  font-size: 40px;
  border: 1px solid white;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 3px;
}
.bt {
  margin-bottom: 0;
  padding-bottom: 50px;
}

.mt {
  padding-top: 50px;
}

.small {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.link {
  font-size: 2em;
  color: rgb(99, 127, 204) !important;
  display: block;
  text-align: center;
}

@media (max-width: 700px) {
  .flex-wrap {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 90%;
    gap: 30px;
  }
  .bg h4 {
    font-size: 1.5em;
  }
  .bg h3 {
    font-size: 1.6em;
  }
  .bg h2 {
    font-size: 1.8em;
    margin-top: 25px;
  }
  .flex-wrap > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .flex-wrap > div img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }
}
